@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nothing+You+Could+Do&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css');

h1,
p {
  font-family: Lato;
}

.md * {
  font-family: "DM Sans";
  text-align: justify;
  font-size: large;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.md h1 {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 3rem;
}

.md h2 {
  font-family: "DM Sans";
  font-weight: 200;
  font-size: 2rem;
}

.md h3 {
  font-family: "DM Sans";
  font-weight: 200;
  font-size: 1.5rem;
}


.md img {
  width: 100%;
}


body {
  margin: 0;
}

.gallery-item {
  margin: 1px;
}

footer .leaflet-container { 
  width: 400px;
  height: 300px;
}

.leaflet-container{
  width: 1000px;
  height: 400px;
}

.MuiTab-root {
  font-family: "DM Sans";
}

* {
  margin: 0;
  box-sizing: border-box;
}